[user]
	name = Jimi Ford
	email = JimiHFord@users.noreply.github.com
[core]
	editor = code --wait
[fetch]
	prune = true
[init]
	defaultBranch = main
[alias]
	mr = !sh -c \"git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
	autoSetupRemote = true
[branch]
	autoSetupMerge = simple
